<% content_for :title do %>
    Study Diary
<% end %>

<section>
    <% if @items.empty? %>
        <h3>
            Adiciona um item a sua lista
            <span class="material-icons">
                <%= link_to 'add_box', new_study_item_path() %>
            </span>
        </h3>
    <% else %>
        <h3>
            Lista de estudos
            <span class="material-icons" style="float: right;">
                <%= link_to 'add_box', new_study_item_path() %>
            </span>
        </h3>
        <br/>
        <div class="box-study_item">
            <ul>
                <% @items.each do |item| %>
                <li>
                    <div class="actions">
                        <span class="material-icons">
                             <%= link_to("mode_edit", edit_study_item_path(item.id)) %>
                        </span>
                        <%= form_with model: item, method: :delete do |form| %>
                            <span class="material-icons"
                                onclick="return confirm('Tem certeza que deseja excluir o item?') ? this.parentNode.submit() : false;"
                            >delete</span>
                        <% end %>
                    </div>
                    <div class="item">
                        <%= form_with model: item, method: :patch do |form| %>
                            <%= form.check_box :done, {hidden:true} %>
                            <span class="material-icons" onclick="this.parentNode.submit();">
                                <% if item.done %>
                                    <%= form.label :done, 'check_box' %>
                                <% else %>
                                    <%= form.label :done, 'check_box_outline_blank' %>
                                <% end %>
                            </span>
                        <% end %>
                        <span class="item-title">
                            <%= link_to("#{item.title}", study_item_path(item.id)) %>
                        </span>
                        <span class="item-category">
                            <%= item.category %>
                        </span>
                    </div>
                </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</section>