<% content_for :title do %>
    Study Diary
<% end %>

<section>
    <% if @items.empty? %>
        <h3>
            Adiciona um item a sua lista
            <span class="material-icons">
                <%= link_to 'add_box', new_study_item_path() %>
            </span>
        </h3>
    <% else %>
        <h3>
            Lista de estudos
            <span class="material-icons" style="float: right;">
                <%= link_to 'add_box', new_study_item_path() %>
            </span>
        </h3>
        <br/>
        <div class="box-table">
            <table class="table-items" border="0">
                <tr>
                    <th>Feito</th>
                    <th>Categoria</th>
                    <th>Título</th>
                    <th>Ações</th>
                </tr>
                <% @items.each do |item| %>
                    <tr>
                        <td class="item-done">
                            <%= form_with model: item, url: update_done_study_item_path(item.id), method: :put do |form| %>
                                <%= form.check_box :done, {hidden:true} %>
                                <span class="material-icons" onclick="this.parentNode.submit();">
                                    <% if item.done %>
                                        <%= form.label :done, 'check_box' %>
                                    <% else %>
                                        <%= form.label :done, 'check_box_outline_blank' %>
                                    <% end %>
                                </span>
                            <% end %>
                        </td>
                        <td class="item-category">
                            <%= link_to study_item_path(item.id) do %>
                                <p><%= item.category %><p>
                            <% end %>
                        </td>
                        <td class="item-title">
                            <%= link_to study_item_path(item.id) do %>
                                <p><%= item.title %><p>
                            <% end %>
                        </td>
                        <td class="actions">
                            <span class="material-icons">
                                <%= link_to("mode_edit", edit_study_item_path(item.id)) %>
                            </span>
                            <%= form_with model: item, method: :delete do |form| %>
                                <span class="material-icons"
                                    onclick="return confirm('Tem certeza que deseja excluir o item?') ? this.parentNode.submit() : false;"
                                >delete</span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    <% end %>
</section>